.collection .price__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.collection .bulk-btn{
  width: 100%;
  margin-top: 22px;
  gap: 1rem;
  text-transform: uppercase;
}
.collection .bulk-qty-btn-container{
  width: 100%;
}
.collection .card__content{
  padding: 0;
  padding-top: 20px;
}
.collection .card__information{
  padding: 0;
}
.collection .card__content quick-add-bulk .quantity{
  min-height: calc((var(--inputs-border-width) * 2) + 3.5rem);
  color: #AEB1B5;
}
.collection .quantity__button{
  width: calc(3.4rem / var(--font-body-scale));
  border: 1px solid #AEB1B5;
}
.collection quick-add-bulk .quantity__input{
  max-width: calc(5.4rem / var(--font-body-scale));
}
.collection .quantity::after{
    box-shadow: 0 0 0 var(--inputs-border-width) rgba(174, 177, 181, 1);
}
.collection .full-unstyled-link{
  font-family: var(--font-body-family);
}